table{
  margin-right: auto;
  margin-left: auto;
  /* text-align: center; */
}
header {
  text-align: center;
  background-color: cadetblue;
}
img {
  display: flex;
  /* align-items: center;
    justify-self: center; */
  margin-right: auto;
  margin-left: auto;
}
.map {
  display: block;
  height: 723px;
  width: 930px;
  background-image: url("./canada.png");
  margin-right: auto;
  margin-left: auto;
}

#bc{
    padding-top: 525px;
    padding-left: 90PX;

}
#ab{
    padding-bottom: 100px;
    padding-left: 190PX;

}
iframe{
    display: block;
    margin-right: auto;
  margin-left: auto;
}
table.minimalistBlack {
  border: 3px solid #000000;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.minimalistBlack td, table.minimalistBlack th {
  border: 1px solid #000000;
  padding: 5px 4px;
}
table.minimalistBlack tbody td {
  font-size: 13px;
}
table.minimalistBlack thead {
  background: #CFCFCF;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  border-bottom: 3px solid #000000;
}
table.minimalistBlack thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}
table.minimalistBlack tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  border-top: 3px solid #000000;
}
table.minimalistBlack tfoot td {
  font-size: 14px;
}